## One To Many model

##### Writer

| id      | name      |
| ------- | --------- |
| PK, INT | Charfield |
|         |           |



##### Book

| id      | author          | title     | decription |
| ------- | --------------- | --------- | ---------- |
| PK, INT | FK, Writer, INT | Charfield | TextField  |

In [1]:
a = Writer.objects.create(name='작가')

In [2]:
Writer.objects.create(
name='박경리'
)

In [3]:
Book.objects.create(
    title = '토지',
    description = '최참판 일가와 이용 일가의 가족사',
    author = Writer.objects.get(id=2),
    
)

In [4]:
Book.objects.create(
    author = Writer.objects.get(id=2),
    description = '어린 아들을 잃고',
    title = '불신시대',
)

In [5]:
#조건 만족하는 객체 1개 return
writer = Writer.objects.get(name='박경리')

#조건만족하는 모든 객체 return

writers = Writer.objects.filter(name='박경리')
writers[0].name

park_writers_family = Writer.objects.filter(name__contains='박')
park_writers_family[0].name

'박경리'

In [7]:
writer
book1 = Book.objects.get(id=1)
book2 = Book.objects.get(id=2)

In [14]:
book1.author.name

'박경리'

In [15]:
"""
토지를 너무 감명깊게 봐서 
1. 책들 전체에서 토지 라는 제목의 책을 찾는다.
2. 이 책의 작가 이름을 찾는다.
3. 작가들중에 그 이름을 가진 사람을 찾는다.
4. 책들 전체에서 그 작가의 책을 전부 가져온다.
"""

'\n토지를 너무 감명깊게 봐서 \n1. 책들 전체에서 토지 라는 제목의 책을 찾는다.\n2. 이 책의 작가 이름을 찾는다.\n3. 작가들중에 그 이름을 가진 사람을 찾는다.\n4. 책들 전체에서 그 작가의 책을 전부 가져온다.\n'

In [40]:
favorite_book = Book.objects.get(title='토지')

favorite_writer_name = favorite_book.author.name

favorite_writer = Writer.objects.get(name=favorite_writer_name)

In [42]:
book_wish_list = Book.objects.filter(author = favorite_writer)

book_wish_list

In [53]:
for i in favorite_writer.book_set.all():
    print(i.title, i.description)
    
Book.objects.filter(author=favorite_writer)

토지 최참판 일가와 이용 일가의 가족사
불신시대 어린 아들을 잃고