In [107]:
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [11]:
greeting = " hi! Everyone!!!!"
print(greeting.capitalize())
print(greeting.title())
print(greeting.upper())

 hi! everyone!!!!
 Hi! Everyone!!!!
 HI! EVERYONE!!!!

In [14]:
print(greeting.swapcase())

 HI! eVERYONE!!!!

In [15]:
greeting

' hi! Everyone!!!!'

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [20]:
''.join(["아", "파","요"])

'아파요'

In [21]:
feeling = ["아파요", "어려워요", "힘들어요", "죽겠다"]
"ㅎ".join(feeling)

'아파요ㅎ어려워요ㅎ힘들어요ㅎ죽겠다'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

NameError: name 'ᄒᄒ' is not defined

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [34]:
string = "  hi   "
string.lstrip()

'hi   '

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [1]:
cafes = ["starbucks", "tom&toms", "coffeebean", "hollys"]

In [21]:


cafes.remove("ediya")
cafes

['starbucks', 'tom&toms', 'coffeebean', 'hollys']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [24]:
for i in "abc":
    print(i)

a
b
c

In [27]:
cafes.extend(["droptop", "빽다방"])
cafes

['starbucks',
 'tom&toms',
 'coffeebean',
 'hollys',
 'droptop',
 '빽다방',
 'droptop',
 '빽다방']

In [35]:
cafes

['starbucks',
 'tom&toms',
 'coffeebean',
 'hollys',
 'droptop',
 '빽다방',
 'droptop',
 '빽다방',
 '엔젤리너스',
 '엔젤리너스',
 '엔젤리너스',
 '엔젤리너스',
 '엔젤리너스']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [36]:
fast_foods = ["Mcdonald", "burger KKing", "KFC"]

In [41]:
fast_foods.insert(0, "Momstouch")

In [42]:
fast_foods

['Momstouch', 'Mcdonald', 'burger KKing', 'KFC']

In [43]:
# index가 넘어가면 마지막에 붙습니다.

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [5]:
numbers = [1, 2, 3, 1, 2, 5, 7, 7, "A"]
print(numbers)

[1, 2, 3, 1, 2, 5, 7, 7, 'A']

In [6]:
numbers.remove("A")
print(numbers)

[1, 2, 3, 1, 2, 5, 7, 7]

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [57]:
a = [1, 2, 3, 4, 5]

In [62]:
a.pop()

1

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [70]:
b = [1, 2, 3, 4, 5]

In [64]:
b.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [73]:
a= [1, 2, 3, 4, 5, 6, 7, 8, "b", "b", "a"]

In [69]:
a.count("a")

3

In [71]:
for i in range( len(b)):
    b.pop()
    print(b)
print(b)

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
[]
[]

In [75]:
target = "b"
for i in range(a.count(target)):
    a.remove(target)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 'a']

In [76]:
def rm_in_list(l, target):
    for i in range(l.count(target)):
        l.remove(target)
    return print(l)
rm_in_list([1, 2, 3, 4, 5, 6, 7, 8, 'a', 2, 2, 2], 2)

[1, 3, 4, 5, 6, 7, 8, 'a']

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [81]:
# sorted

my_list = [4, 3, 2, 1]
sorted_list = sorted(my_list)
sorted_list
my_list

[4, 3, 2, 1]

In [83]:
my_list = [4, 3, 2, 1]
sorted_list = my_list.sort()
print(my_list, sorted_list)

[1, 2, 3, 4] None

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [82]:
class_mates = ["이원진", "지상현", "조성규"]
reverse_class_mate = class_mates.reverse()

print(reverse_class_mate, class_mates)

None ['조성규', '지상현', '이원진']

## 복사

In [94]:
# 리스트 복사를 해봅시다.

list_a = [1, 2, 3]
list_copy = list_a
print(list_copy)

origin = "A"
copy = origin
print(origin, copy)

[1, 2, 3]
A A

In [101]:
# b의 값을 바꾸고 a를 출력해봅시다.
origin = ["A"]
origin.append("B")
print(origin, copy)

['A', 'B'] A

In [ ]:
# 실제로 같은지 확인해봅시다.

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
# 딕셔너리도 확인해봅시다.

In [109]:
IFrame('https://goo.gl/vx1yGx', width='100%', height='400px')

In [110]:
IFrame('https://goo.gl/N43pw6', width='100%', height='400px')

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.


* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [104]:
# 복사 예시
a = [1,2,3]
b= a[:]
a[0] = 5
print(a, b)

[5, 2, 3] [1, 2, 3]

In [ ]:
# 복사 예시2

In [105]:
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

NameError: name 'IFrame' is not defined

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [123]:
# 얕은 복사 예시
ss3 = {
    "teacher" : "neo",
    "gamtoo" : {
        "leader" : "Hwang",
        "CA" : "Kang"
    }
}
new_ss3 = ss3
new_ss3
ss3["gamtoo"]["CA"] = "KangJW"
ss3["teacher"] = "neo1"
new_ss3

{'teacher': 'neo1', 'gamtoo': {'leader': 'Hwang', 'CA': 'KangJW'}}

In [125]:
# 깊은 복사 예시
import copy
ss3 = {
    "teacher" : "neo",
    "gamtoo" : {
        "leader" : "Hwang",
        "CA" : "Kang"
    }
}
new_ss3 = copy.deepcopy(ss3)
new_ss3
ss3["gamtoo"]["CA"] = "KangJW"
ss3["teacher"] = "neo1"
new_ss3

{'teacher': 'neo', 'gamtoo': {'leader': 'Hwang', 'CA': 'Kang'}}

In [126]:
IFrame('https://goo.gl/FZcYbJ', width='100%', height='500px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사 예시

In [ ]:
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## 삭제 `clear()`

리스트의 모든 항목을 삭제합니다.

In [128]:
numbers = list(range(100))
print(numbers)
numbers.clear()
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

## 사전 준비

> 다음의 리스트를 만들어보세요. 

1. 1~10까지의 숫자 중 짝수만 담긴 리스트 `even_list`

2. 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [136]:
# even_list = []
# for i in range(1,11):
#     if i % 2 == 0:
#         even_list.append(i)
# even_list

even_list = [x*2 for x in range(1,6)]
even_list

[2, 4, 6, 8, 10]

In [137]:
# cubic_list = []
# for i in range(1, 11):
#     for j in range(1, 11):
#         if j**3 == i:
#             cubic_list.append(i)
# cubic_list
cubic_list = [x**3 for x in range(1,11)]
cubic_list

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## 활용법

여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

## 연습 문제

### 짝짓기 - 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [163]:
#my way
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
new_list = []
for i in  boys:
    for j in  girls:
        new_list.append((i, j))
new_list

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

In [ ]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
pairs = (boy, girl)

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [173]:
#looping
# pitagoras = []
# for x in range(1,51):
#     for y in range(x,51):
#         for z in range(y,51):
#             if z**2 == x**2 + y**2:
#                 pitagoras.append((x,y,z))
# print(pitagoras)

pitagoras = [(x,y,z) for x in range(1,51) for y in range(x+1,51) for z in range (y+1, 51) if z**2 == x**2 + y**2]
pitagoras

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45),
 (30, 40, 50)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [92]:
words = "Life is too short, you need python!"

# new_words = []
# for c in words:
#     if c not in ["a", "e", "i", "o", "u"]:
#         new_words.append(c)
# print(new_words)
# new_string =""
# for i in (new_words):
#     new_string += i
# new_string

vowels = 'aeiouAEIOU'
result = [x for x in words if x not in vowels]
print(''.join(result))

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [114]:
fruits = {"apple" : "사과" , "banana" : "바나나", "melon" : "멜론"}

In [112]:
apple = fruits.pop('apple')
print(apple, fruits)

KeyError: 'apple'

In [116]:
fruits.pop("melon", False)

False

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [119]:
fruits = {"apple" : "사과" , "banana" : "바나나", "melon" : "멜론"}
fruits.update(banana = "버내너")
fruits

{'apple': '사과', 'banana': '버내너', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [120]:
fruits.get("apple")

'사과'

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

* 추후에 zip, map 등을 배우고 다시 다루도록 하겠습니다 :)

In [23]:
cubic_dict = {x : x **3 for x in range(1,11)}
cubic_dict

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [32]:
dust = {"seoul" : 103, "kyungki" : 79, "dajeon" : 36, "beijing" : 500}
bad_dusts = {city : dust for city, dust in dust.items() if dust >81}
bad_dusts

{'seoul': 103, 'beijing': 500}

In [34]:
how_bad = { city : "나쁨" if dust > 80 else "안나쁨" for city, dust in dust.items()} 
how_bad

{'seoul': '나쁨', 'kyungki': '안나쁨', 'dajeon': '안나쁨', 'beijing': '나쁨'}

# Set 메서드 활용

## 추가 및 삭제

## `.add(elemnet)
`element`를 추가합니다.

In [167]:
a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

### `.update(*others)`
여러가지 (others)값을 순차적으로 추가합니다.

반드시  iterable한 값을 넣어야 합니다.

In [173]:
a = {1, 2, 3}

a.update({5,5,5,2},{7,9,10,7})
print(a)

{1, 2, 3, 5, 7, 9, 10}

### `.remove(element)`
`element`를 set에서 삭제하고, 없으면 Error를 발생시킵니다.

In [177]:
a.remove(3)
print(a)

KeyError: 3

### `.discard(element)`
`element`를 삭제하나, 에러가 발생하지 않습니다.

In [179]:
b = {1, 2, 3}
b.discard(5)
b

{1, 2, 3}

### ` .pop()`

가장 작은 원소를 제거하고 반환합니다.

In [3]:
c = {1, 2, 3, 4, 5}

c.pop()
print(c)

{2, 3, 4, 5}

In [ ]:
c.pop()
print(c)

# 정리! map(), zip(), filter()

### `map(function, iterable)`

* iterable의 원소들을 function을 적용한 후, 그 결과를 돌려줍니다.
* iteralbe
    * list
    * dict
    * set
    * str
    * tuple
    * range
    * bytes
* `map()`의 return은 map object 형태로 나온다.

In [43]:
my_input = input("입력 ㄱㄱ:") # 숫자를 띄어쓰기로 입력받을때 각각을 리스트에 숫자로 저장하고 싶음
print(my_input)
new_input = [int(s) for s in my_input.split()]
new_input

입력 ㄱㄱ:1 2 3 4 5
1 2 3 4 5

[1, 2, 3, 4, 5]

In [16]:
l = ['1', '2', '3']
r = map(int, l)
print(*r)

1 2 3

In [6]:
l = input("띄어쓰기로 숫자입력: ")
strings = l.split(' ')
map_object = map( int , strings)
r = list(map_object)
r

띄어쓰기로 숫자입력: 1 2

[1, 2]

In [10]:
def a(n):
    return int(n)
print(a)
my_input = list(map(a, input("입력 :").split()))
print(my_input)

<function a at 0x000002C541480950>
입력 :1 2 3
[1, 2, 3]

In [12]:
def cube(n):
    return n**3

In [14]:
n = [1, 2, 3]

cubic_n =list(map(cube, n))

print(cubic_n)

[1, 8, 27]

In [19]:
num = [1, 2, 3, 4]
r= ''.join(map(str, num))
r

'1234'

In [20]:
data = [10, 20, 30, 40]

def make_list_html(n):
    return f'<li>{n}</li>'
html_data = list(map(make_list_html, data))
html_data

['<li>10</li>', '<li>20</li>', '<li>30</li>', '<li>40</li>']